body {
  margin: 0;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;

  background-color: #87a092;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.viewport {
  min-width: 1200px;

  -webkit-transition: background-color 0.5s ease;

  -o-transition: background-color 0.5s ease;

  transition: background-color 0.5s ease;
}

.site-wrapper {
  width: 1200px;
  margin: 0 auto;

  background-repeat: no-repeat;
  background-position: top center;

  -webkit-transition: background-image 0.5s ease;

  -o-transition: background-image 0.5s ease;

  transition: background-image 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url(../img/slide-2.png);
}

.site-wrapper::after {
  background-image: url(../img/slide-3.png);
}

.content-wrapper {
  padding: 0 27px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.inner-page-title h1,
.action-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.black-link {
  color: #323232;
}

.black-link:hover,
.black-link:focus,
.black-link:active {
  color: #e84d37;
}

.white-link {
  color: #fff;
}

.white-link:hover,
.white-link:focus,
.white-link:active {
  color: #ffbc9e;
}

.white-underline {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.3) 0, rgba(255, 255, 255, 0.3) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.3) 0, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3) 0, rgba(255, 255, 255, 0.3) 100%);
  background-position: 0 100%;
  background-size: 100% 1px;
  background-repeat: no-repeat;
}

.white-link:hover .white-underline,
.white-link:focus .white-underline,
.white-link:active .white-underline {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 188, 158, 0.3)), to(rgba(255, 188, 158, 0.3)));
  background: -webkit-linear-gradient(left, rgba(255, 188, 158, 0.3) 0, rgba(255, 188, 158, 0.3) 100%);
  background: -o-linear-gradient(left, rgba(255, 188, 158, 0.3) 0, rgba(255, 188, 158, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 188, 158, 0.3) 0, rgba(255, 188, 158, 0.3) 100%);
  background-position: 0 100%;
  background-size: 100% 1px;
  background-repeat: no-repeat;
}

.black-underline {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(50, 50, 50, 0.3)), to(rgba(50, 50, 50, 0.3)));
  background: -webkit-linear-gradient(left, rgba(50, 50, 50, 0.3) 0, rgba(50, 50, 50, 0.3) 100%);
  background: -o-linear-gradient(left, rgba(50, 50, 50, 0.3) 0, rgba(50, 50, 50, 0.3) 100%);
  background: linear-gradient(to right, rgba(50, 50, 50, 0.3) 0, rgba(50, 50, 50, 0.3) 100%);
  background-position: 0 100%;
  background-size: 100% 1px;
  background-repeat: no-repeat;
}

.black-link:hover .black-underline,
.black-link:focus .black-underline,
.black-link:active .black-underline {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(232, 77, 55, 0.3)), to(rgba(232, 77, 55, 0.3)));
  background: -webkit-linear-gradient(left, rgba(232, 77, 55, 0.3) 0, rgba(232, 77, 55, 0.3) 100%);
  background: -o-linear-gradient(left, rgba(232, 77, 55, 0.3) 0, rgba(232, 77, 55, 0.3) 100%);
  background: linear-gradient(to right, rgba(232, 77, 55, 0.3) 0, rgba(232, 77, 55, 0.3) 100%);
  background-position: 0 100%;
  background-size: 100% 1px;
  background-repeat: no-repeat;
}

/*-----------------------------------------NAVIGATION-------------------------------------------*/

.page-header {
  padding-top: 10px;
}

.page-header .page-logo {
  display: block;
  width: 154px;
  height: 64px;
  margin-right: 10px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
/*  align-items: center;*/
  padding-top: 12px;

  line-height: 18px;
  font-weight: 700;
}

.site-navigation-item > a {
  display: block;
  padding: 8px 14px;

  border-radius: 18px;
  text-decoration: none;
}

.site-navigation-item > a:hover,
.site-navigation-item > a:focus {
  color: #333;
  background-color: #f7f6f3;
}

.site-navigation-item > a:active {
  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.5);
}

.site-navigation-item > a:hover .white-underline,
.site-navigation-item > a:focus .white-underline,
.site-navigation-item > a:active .white-underline {
  background: none;
}

.site-navigation .current,
.site-navigation .current:hover,
.site-navigation .current:focus {
  color: #fff;
  background-color: #d07058;
  border-color: transparent;
  text-decoration: none;
}

.site-navigation-item,
.user-navigation-item {
  position: relative;
}

.site-submenu,
.user-navigation,
.page-header .info {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.site-submenu {
  position: absolute;
  top: -9999em;
  z-index: 1;

  width: 140px;

  font-weight: 400;
  color: #323232;

  border-top: 5px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  opacity: 0;
}

.site-navigation-item:hover .site-submenu,
.site-navigation-item a:focus ~ .site-submenu,
.site-submenu > a:focus,
.submenu-show {
  top: auto;
  left: 0;
  opacity: 1;
}

.site-submenu li:first-child a {
  font-weight: 700;

  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(50, 50, 50, 0.3)), to(rgba(50, 50, 50, 0.3)));

  background-image: -webkit-linear-gradient(left, rgba(50, 50, 50, 0.3) 0, rgba(50, 50, 50, 0.3) 100%);

  background-image: -o-linear-gradient(left, rgba(50, 50, 50, 0.3) 0, rgba(50, 50, 50, 0.3) 100%);

  background-image: linear-gradient(to right, rgba(50, 50, 50, 0.3) 0, rgba(50, 50, 50, 0.3) 100%);
  background-position: center 100%;
  background-size: 90% 1px;
  background-repeat: no-repeat;
}

.site-submenu a{
  display: block;
  padding: 7px 16px;

  color: #323232;

  text-decoration: none;
  background-color: #f8f7f4;
}

.site-submenu li:first-child a {
  border-radius: 5px 5px 0 0;
}

.site-submenu li:last-child a {
  border-radius: 0 0 5px 5px;
}

.site-submenu a:hover,
.site-submenu a:focus {
  background-color: #fbded7;
}

.site-submenu a:active {
  background-color: #f6b5a5;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
/*  align-items: center;*/

  margin-left: auto;
  padding-top: 12px;

  font-weight: 500;
}

.user-navigation-item {
  margin-right: 10px;
}

.user-navigation-item:last-child {
  margin-right: 0;
}

.user-navigation-item > a {
  display: block;
  padding: 7px 15px;

  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.user-navigation-item .index-basket {
  padding-right: 34px;
}

.user-navigation-item .link-search {
  padding: 8px;
}

.link-login svg,
.link-basket svg {
  padding-right: 5px;
}

.user-navigation-link svg,
.link-basket svg {
  vertical-align: middle;
}

.user-navigation-link:hover,
.user-navigation-link:focus {
  color: #323232;
  background-color: #f8f7f4;
  cursor: pointer;
}

.user-navigation-link:hover .svg-img,
.user-navigation-link:focus .svg-img {
  fill: #323232;
}

.user-navigation .basket-full {
  color: #323232;
  background-color: #f8f7f4;
}

.hover-block,
.basket{
  position: absolute;
  top: -9999em;
  right: 0;
  z-index: 1;

  border-top: 5px solid transparent;
}

.user-navigation-item:hover .hover-block,
.hover-block-show {
  top: auto;
  right: 0;

  opacity: 1;
}

.user-navigation-item:hover .basket,
.basket-show {
  top: 37px;
  right: 0;

  opacity: 1;
}

.user-navigation form {
  border-radius: 5px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

.search-form {
  width: 310px;
  padding: 20px 15px;
}

.search-form p{
  margin: 0;
}

.login-form {
  width: 240px;
  padding: 20px;
}

.login-form p {
  margin: 0;
  margin-bottom: 20px;
}

.search-form input,
.login-form input {
  width: 100%;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-family: inherit;
  font-size: 14px;
  line-height: 24px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.search-form input::-webkit-input-placeholder,
.login-form input::-webkit-input-placeholder {
  font: inherit;
  color: #999;
}

.search-form input:-ms-input-placeholder,
.login-form input:-ms-input-placeholder {
  font: inherit;
  color: #999;
}

.search-form input::placeholder,
.login-form input::placeholder {
  font: inherit;
  color: #999;
}

.login-links {
  padding-left: 120px;

  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
}

.basket {
  position: absolute;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;

  width: 510px;
  padding: 20px 15px;

  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

.basket::before {
  content: "";

  position: absolute;
  top: -10px;
  left: 0;

  width: 100%;
  height: 5px;
/*  background-color: red;*/
}

.table-basket {
  border-collapse: collapse;
}

.table-basket td {
  padding: 0;
  padding: 10px 5px 20px;
  vertical-align: baseline;
}

.column-del .delete {
  width: 12px;
  height: 12px;

  vertical-align: text-top;

  background: url(../img/cross-small.svg) no-repeat center;
  border: none;
  cursor: pointer;
}

.table-basket .column-img {
  vertical-align: top;
  padding: 0;
}

.column-img .image {
  width: 32px;
  height: 32px;

  border-radius: 50%;
  overflow: hidden;
}

.column-name {
  width: 230px;
}

.column-account {
  width: 115px;
  text-align: center;
}

.column-account .price {
  color: #999;
}

.column-cost {
  width: 70px;
  text-align: center;
}

.table-basket .total {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 0;

  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-align: right;

  border-top: 1px solid #cacac7;
}

.page-header .info {
  float: right;
  margin: 0;

  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-align: right;
}

.info .phone {
  font-size: 22px;
  line-height: 25px;
}

/*-----------------------------------------------------SLIDER--------------------------------------------*/

body > input[type="radio"] {
  display: none;
}

.slider {
  position: relative;

  margin-bottom: 40px;
}

.slider-list {
  padding-top: 320px;

  text-align: center;
}

.slider-item {
  display: none;
}

.slide-title {
  width: 700px;
  min-height: 115px;
  margin: 0;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

#control-1:checked ~ .viewport .slide-1,
#control-2:checked ~ .viewport .slide-2,
#control-3:checked ~ .viewport .slide-3 {
  display: block;
}

#control-1:checked ~ .viewport {
  background-color: #87a092;
}

#control-1:checked ~ .viewport > .site-wrapper{
  background-image: url(../img/slide-1.png);
}

#control-2:checked ~ .viewport {
  background-color: #8996a6;
}

#control-2:checked ~ .viewport > .site-wrapper{
  background-image: url(../img/slide-2.png);
}

#control-3:checked ~ .viewport {
  background-color: #9d8b84;
}

#control-3:checked ~ .viewport > .site-wrapper{
  background-image: url(../img/slide-3.png);
}

#control-1:checked ~ .viewport label[for="control-1"],
#control-2:checked ~ .viewport label[for="control-2"],
#control-3:checked ~ .viewport label[for="control-3"] {
  background-color: #fff;
}

.slider-controls label:hover,
.slider-controls label:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

/*--------------------------------------------INDEX-CONTENT------------------------------------------*/

.actions-list {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;

  margin-bottom: 40px;
}

.action-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;

  width: 560px;
  margin-right: 26px;

  padding: 15px 20px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  border-radius: 15px;
}

.action-item:nth-child(2n) {
  margin-right: 0;
}

.action-title {
  margin: 0;
  margin-bottom: 15px;
}

.action-item p {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;

  font-size: 18px;
  line-height: 22px;
}

.action-item .button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.actions-list .raspberry {
  background-color: #7f2134;
  background-image: url(../img/raspberry.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.actions-list .chocolate {
  background-color: #42271b;
  background-image: url(../img/chocolate.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.popular-list,
.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.catalog-list {
  margin-bottom: 43px;
}

.popular-item,
.catalog-item {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 267px;
  margin-right: 26px;
  margin-bottom: 38px;
}

.item-link {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

   width: 100%;
}

.popular-item:hover .item-link,
.catalog-item:hover .item-link {
  z-index: 2;
}

.popular-item:nth-child(4n),
.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.popular-item .item-image,
.catalog-item .item-image {
  width: 267px;
  height: 267px;

  overflow: hidden;
  border-radius: 50%;
}

.popular-link::before {
  position: absolute;
  top: 0;
  left: 0;

  content: "";
  display: block;
  width: 61px;
  height: 61px;

  background: url(../img/hit.png) no-repeat left top;
  border-radius: 50%;
}

.popular-item .item-title,
.catalog-item .item-title {
  width: 100%;
  margin: 0;
  margin-top: 13px;
  padding: 0;

  font: inherit;
  text-align: center;
}

.popular-item .item-price,
.catalog-item .item-price {
  position: absolute;
  top: 210px;
  left: 0;

  margin: 0;

  font-size: 45px;
  line-height: 45px;
  font-weight: bold;

  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.item-price .weight {
  font-size: 30px;
}

.popular-item .card-background,
.catalog-item .card-background{
  position: absolute;
  top: -5px;
  left: -13px;
  z-index: 1;

  visibility: hidden;

  width: 293px;
  height: 380px;
  padding-bottom: 20px;

  border-radius: 5px;
  transition: box-shadow ease-in 0.5s,
    background-color ease-in 0.5s;
}

.card-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-background .button-fast {
  margin-top: auto;
}

.popular-item:hover .card-background,
.catalog-item:hover .card-background {
  visibility: visible;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 20px 20px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 10px rgba(0, 0, 0, 0.4);
}

.features {
  padding: 25px 20px 12px;
  margin-bottom: 40px;

  color: #323232;

  background-color: #e3d7bc;
  background-image: url(../img/wafer.png);
  background-repeat: repeat;
  border-radius: 15px;
}

.features .lead {
  margin: 0;
  margin-bottom: 5px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.features-item {
  width: 540px;
  margin-right: 26px;
}

.features-item:nth-child(2n) {
  margin-right: 0;
}

.features-item p {
  position: relative;

  padding: 15px 0 10px 55px;
  margin: 0;
}

.features-item p::before {
  position: absolute;
  top: 0;
  left: 0;

  content: "";
  display: block;
  width: 50px;
  height: 50px;
}

.ice-cream p::before {
  background: url(../img/ice-cream-icon.svg) no-repeat center;
}

.cow p::before {
  background: url(../img/cow-icon.svg) no-repeat center;
}

.leaf p::before {
  background: url(../img/leaf-icon.svg) no-repeat center;
}

.termometr p::before {
  background: url(../img/termometr-icon.svg) no-repeat center;
}

.news-and-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;

  margin-bottom: 40px;
}

.news {
  width: 560px;
  padding: 25px 20px;
  margin-right: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  color: #323232;

  background-color: #fff;
  background-image: url(../img/blog-news.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.news-title {
  width: 290px;
  margin: 0;
}

.news-title a {
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
}

.subscribe {
  width: 560px;
  padding: 30px 20px 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  color: #323232;

  background-color: #f8f7f4;
  background:
    -webkit-gradient(linear, left top, left bottom, from(#f8f7f4), to(#f8f7f4)) padding-box,
    repeating-linear-gradient(-45deg, #fe9e90 0, #fe9e90 12.5%, #f8f7f4 0, #f8f7f4 25%,#92cdff 0, #92cdff 37.5%, #f8f7f4 0, #f8f7f4 50%) 0 / 40px 40px;
  background:
    -webkit-linear-gradient(#f8f7f4, #f8f7f4) padding-box,
    -webkit-repeating-linear-gradient(135deg, #fe9e90 0, #fe9e90 12.5%, #f8f7f4 0, #f8f7f4 25%,#92cdff 0, #92cdff 37.5%, #f8f7f4 0, #f8f7f4 50%) 0 / 40px 40px;
  background:
    -o-linear-gradient(#f8f7f4, #f8f7f4) padding-box,
    -o-repeating-linear-gradient(135deg, #fe9e90 0, #fe9e90 12.5%, #f8f7f4 0, #f8f7f4 25%,#92cdff 0, #92cdff 37.5%, #f8f7f4 0, #f8f7f4 50%) 0 / 40px 40px;
  background:
    linear-gradient(#f8f7f4, #f8f7f4) padding-box,
    repeating-linear-gradient(-45deg, #fe9e90 0, #fe9e90 12.5%, #f8f7f4 0, #f8f7f4 25%,#92cdff 0, #92cdff 37.5%, #f8f7f4 0, #f8f7f4 50%) 0 / 40px 40px;
  border: 5px solid transparent;
  border-radius: 15px;
}

.subscribe p {
  margin: 0;
  margin-bottom: 34px;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-form p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  margin-right: 10px;
}

.subscribe-form input {
  width: 100%;
  padding: 8px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font:inherit;
  line-height: 24px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.subscribe-form input::-webkit-input-placeholder {
  color: #999;
}

.subscribe-form input:-ms-input-placeholder {
  color: #999;
}

.subscribe-form input::placeholder {
  color: #999;
}

.adress {
  position: relative;
}

.contacts {
  position: absolute;
  top: 60px;
  right: 27px;
  z-index: 20;

  width: 252px;
  padding: 30px 25px;

  font-size: 14px;
  line-height: 20px;
  color: #323232;

  background-color: #fdfefe;
  border-radius: 15px;
}

.contacts p {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.contacts b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.map {
  position: relative;
  line-height: 0;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
}

/*-----------------------------------INNER PAGE-CONTENT-------------------------------------*/

.inner-page-title {
  margin-top: 25px;
  margin-bottom: 25px;
}

.inner-page-title h1 {
  margin: 0;
  margin-top: 5px;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.breadcrumbs li {
  position: relative;

  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
}

.breadcrumbs li::after {
  content: "\00BB";
  position: absolute;
  left: 112%;
}

.breadcrumbs li:last-child::after {
  display: none;
}

.catalog {
  background-clip: content-box;
}

/*-------------------------------------------FILTER-----------------------------------------------*/

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;

  margin-bottom: 40px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-form fieldset {
  border: none;
}

.filter-form select {
  width: 195px;
  height: 36px;
  padding-left: 15px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;

  background-color: rgba(255, 255, 255, 0.2);
  background-image: url(../img/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: 172px center;
  border: none;
  border-radius: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  cursor: pointer;
}

.filter-form select::-ms-expand {
  display: none;
}

.filter-form select:hover,
.filter-form select:focus {
  color: #323232;

  background-color: #fff;
  background-image: url(../img/select-arrow-bl.svg);
}

.filter-form .range {
  position: relative;
  width: 218px;
  height: 36px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px / 50%;
}

.range .range-line {
  position: absolute;
  left: 20px;
  top: 16px;

  width: 178px;
  height: 4px;

  background-image: -webkit-linear-gradient(left, #d1dad3 0, #d1dad3 20px, #f8f7f4 0, #f8f7f4 123px, #d1dad3 0, #d1dad3 180px);

  background-image: -o-linear-gradient(left, #d1dad3 0, #d1dad3 20px, #f8f7f4 0, #f8f7f4 123px, #d1dad3 0, #d1dad3 180px);

  background-image: linear-gradient(to right, #d1dad3 0, #d1dad3 20px, #f8f7f4 0, #f8f7f4 123px, #d1dad3 0, #d1dad3 180px);
  vertical-align: middle;
}

.filter-form .range::before,
.filter-form .range::after {
  content: "";
  position: absolute;
  z-index: 1;

  width: 20px;
  height: 23px;

  background: url(../img/filter-button.svg) no-repeat center;
  cursor: pointer;
}

.filter-form .range::before {
  top: 8px;
  left: 34px;
}

.filter-form .range::after {
  top: 8px;
  right: 68px;
}

.richness label,
.filler label {
  position: relative;
  padding-left: 32px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;

  cursor: pointer;
}

input[type="radio"] + .radio-indicator {
  position: absolute;
  top: -2px;;
  left: 0;

  width: 8px;
  height: 8px;
  padding: 3px;

  background-clip: content-box;
  border: 4px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

input[type="radio"]:checked + .radio-indicator {
  background-color: rgba(255, 255, 255, 0.8);
}

label:hover input[type="radio"] + .radio-indicator,
input[type="radio"]:focus + .radio-indicator {
  border-color: #fff;
}

input[type="radio"]:disabled + .radio-indicator,
label:hover input[type="radio"]:disabled + .radio-indicator,
input[type="radio"]:disabled:focus + .radio-indicator {
  border-color: rgba(255, 255, 255, 0.4);
}

label:hover input[type="radio"]:checked + .radio-indicator,
input[type="radio"]:checked:focus + .radio-indicator {
  background-color: #fff;
}

input[type="radio"]:checked:disabled + .radio-indicator,
label:hover input[type="radio"]:checked:disabled + .radio-indicator,
input[type="radio"]:checked:disabled:focus + .radio-indicator {
  background-color: rgba(255, 255, 255, 0.4);
}

input[type="checkbox"] + .checkbox-control {
  position: absolute;
  top: 0;
  left: 0;

  width: 16px;
  height: 16px;

  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 2px;
}

input[type="checkbox"]:checked + .checkbox-control::after {
  content: "";
  position: absolute;
  top: 0;
  left: 2px;

  width: 14px;
  height: 6px;

  border: 4px solid #e6ebe9;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

label:hover input[type="checkbox"] + .checkbox-control,
input[type="checkbox"]:focus + .checkbox-control,
label:hover input[type="checkbox"]:checked + .checkbox-control::after,
input[type="checkbox"]:checked:focus + .checkbox-control::after {
  border-color: #fff;
}

input[type="checkbox"]:disabled + .checkbox-control,
input[type="checkbox"]:checked:disabled + .checkbox-control::after,
label:hover input[type="checkbox"]:disabled + .checkbox-control,
input[type="checkbox"]:disabled:focus + .checkbox-control,
label:hover input[type="checkbox"]:checked:disabled + .checkbox-control::after,
input[type="checkbox"]:checked:disabled:focus + .checkbox-control::after {
  border-color: #e6ebe9;
}

input[type="radio"]:focus + .radio-indicator,
input[type="checkbox"]:focus + .checkbox-control
{
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.button-filter {
  padding: 9px 30px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px / 50%;
  -webkit-box-shadow: inset 0 0 0 2px #fff;
          box-shadow: inset 0 0 0 2px #fff;
}

.button-filter:hover,
.button-filter:focus {
  color: #323232;

  background-color: #fff;
}

.button-filter:active {
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.4);
}

.filter-form .select-container,
.filter-form .range-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;

  margin: 0;
  margin-right: 15px;
  margin-bottom: 18px;
}

.filter-form .range-container {
  margin-right: 14px;
}

.select-container label {
  padding-left: 15px;
  margin-bottom: 5px;
}

.range-container p {
  padding-left: 15px;
  margin: 0;
  margin-bottom: 5px;
}

.filter-form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;

  padding: 0;
  margin-right: 15px;
}

.filter-form legend {
  padding-left: 15px;
  margin-bottom: 5px;
}

.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;

  padding: 9px 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px / 50%;
}

.richness .group {
  padding-left: 14px;
}

.filler .group {
  min-width: 670px;
}

.group p {
  margin: 0;
}

.richness p {
  margin-right: 17px;
}

.filler p {
  margin-right: 20px;
}

.filler p:nth-child(3) {
  margin-right: 22px;
}

.richness p:last-child,
.filler p:last-child {
  margin-right: 0;
}

.filter-form .button-filter {
  -ms-flex-item-align: end;
      align-self: flex-end;

  cursor: pointer;
}

/*-------------------------------PAGINATOR----------------------------*/

.paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  padding-bottom: 31px;
}

.paginator a {
  display: block;
  height: 25px;
  margin-right: 5px;

  font-size: 16px;
  line-height: 25px;
  font-weight: 500;

  text-align: center;
  vertical-align: middle;

  border-radius: 50%;
  text-decoration: none;
}

.paginator .page-number {
  min-width: 25px;
}

.paginator .prev,
.paginator .next {
  width: 8px;
}

.paginator .prev {
  margin-right: 15px;
}

.paginator .next {
  margin-left: 10px;
  margin-right: 0;
}

.paginator .page-number:hover,
.paginator .page-number:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.paginator .page-number:active,
.paginator .current,
.paginator .current:hover,
.paginator .current:focus {
  color: #323232;

  background-color: #fff;
}

.prev svg {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.disabled .svg-img {
  fill: rgba(255, 255, 255, 0.2);
}

/*------------------------------------------BUTTON------------------------------------------*/

.button {
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;

  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  background: -webkit-linear-gradient(to top, #f26843 0%, #e74a35 100%);
  background: -webkit-gradient(linear, left bottom, left top, from(#f26843), to(#e74a35));
  background: -webkit-linear-gradient(bottom, #f26843 0%, #e74a35 100%);
  background: -o-linear-gradient(bottom, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to top, #f26843 0%, #e74a35 100%);
  border-radius: 22px / 50%;
  border: none;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  text-decoration: none;
}

.login-button {
  float: left;

  padding: 10px 25px;

  border-radius: 15px / 50%;
}

.slider-button {
  padding: 10px 40px;

  font-size: 32px;
  line-height: 44px;

  border-radius: 100px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.button-fast,
.button-basket {
  padding: 10px 15px;

  border-radius: 20px / 50%;
}

.button:hover,
.button:focus {
  background: -webkit-linear-gradient(to top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-gradient(linear, left bottom, left top, from(#f58669), to(#ec6f5e));
  background: -webkit-linear-gradient(bottom, #f58669 0%, #ec6f5e 100%);
  background: -o-linear-gradient(bottom, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to top, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  cursor: pointer;
}

.button:active {
  background: -webkit-linear-gradient(to top, #d84732 0%, #e1613e 100%);
  background: -webkit-gradient(linear, left bottom, left top, from(#d84732), to(#e1613e));
  background: -webkit-linear-gradient(bottom, #d84732 0%, #e1613e 100%);
  background: -o-linear-gradient(bottom, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to top, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.button-feedback {
  display: block;
  width: 100%;

  text-align: center;

  box-sizing: border-box;
}

.social-button .image {
  fill: rgba(255, 255, 255, 0.8);
}

.social-list .social-button {
  display: block;
  width: 32px;
  height: 32px;

  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-button:hover .image,
.social-button:focus .image {
  fill: #fff;
}

.social-button:active {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7);
}

.social-button:active .image {
  fill: #e9e9e9;
}

/*-----------------------------------------------FOOTER-------------------------------------------*/

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;

  height: 100px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;

  width: 267px;
  padding-top: 36px;
  margin-right: 155px;
}

.social-list-item {
  margin-right: 17px;
}

.social-list-item svg {
  width: 32px;
  height: 32px;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;

  width: 350px;
  padding-top: 34px;
}

.footer-links > li {
  margin-right: 30px;
  margin-bottom: 4px;

  font-size: 13px;
  line-height: 18px;
}

.footer-links .heart {
  position: relative;
  font-weight: 700;
}

.footer-links .heart::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -22px;

  width: 15px;
  height: 13px;

  vertical-align: middle;

  background: url(../img/heart.svg) no-repeat center;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-top: 18px;

  font-size: 12px;
  line-height: 18px;
}

.footer-copyright .logo-html-academy {
  display: inline-block;
  vertical-align: top;
  width: 110px;
  height: 40px;

  margin-bottom: 2px;

}

/*-------------------------------------------FEEDBACK----------------------------------------------*/

.modal {
  display: none;

  color: #323232;

  background-color: #f8f7f4;
  border-radius: 15px;
}

.modal-feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 30;

  width: 430px;
  padding: 20px 25px;
  margin-top: -215px;
  margin-left: -215px;
}

.feedback-title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.feedback-form p {
  margin: 0;
  margin-bottom: 20px;
}

.feedback-form p:last-of-type {
  margin-bottom: 25px;
}

.feedback-form input,
.feedback-form textarea {
  width: 270px;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.feedback-item {
  position: relative;
}

.label-box label {
  position: absolute;
  top: 12px;
  left: 15px;

  font: inherit;
  color: #999;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;
  pointer-events: none;

}

input:focus ~ .label-box label,
textarea:focus ~ .label-box label {
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;

  -webkit-transform: translateY(-28px);

      -ms-transform: translateY(-28px);

          transform: translateY(-28px);
}

input:valid ~ .label-box label,
textarea:valid ~ .label-box label {
  font-size: 11px;
  line-height: 13px;

  -webkit-transform: translateY(-28px);

      -ms-transform: translateY(-28px);

          transform: translateY(-28px);
}

.feedback-form textarea {
  width: 100%;
  resize: none;
}

.feedback-form .button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.modal-feedback .close {
  position: absolute;
  top: 15px;
  right: 15px;;

  width: 18px;
  height: 18px;

  background: url(../img/cross-big.svg) no-repeat center;
  border: none;
  cursor: pointer;
}

@-webkit-keyframes bounce {
  0% {-webkit-transform: translateY(-2000px);transform: translateY(-2000px);}
  70% {-webkit-transform: translateY(30px);transform: translateY(30px);}
  90% {-webkit-transform: translateY(-10px);transform: translateY(-10px);}
  100% {-webkit-transform: translateY(0);transform: translateY(0);}
}

@keyframes bounce {
  0% {-webkit-transform: translateY(-2000px);transform: translateY(-2000px);}
  70% {-webkit-transform: translateY(30px);transform: translateY(30px);}
  90% {-webkit-transform: translateY(-10px);transform: translateY(-10px);}
  100% {-webkit-transform: translateY(0);transform: translateY(0);}
}

.modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 20;

  display: none;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
}

.modal-show {
  display: block;
}

.modal-feedback-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}
